<div class="footer-nav">
  {% for page in site.pages %}
    {% unless page.exclude_from_nav %}
      <a class="footer-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endunless %}
  {% endfor %}
</div>

<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></a>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="{{ site.gh_link }}">
            <span class="icon github">{% include svg-gh.html %}</span>
            <span class="username">{{ site.gh_username }}</span>
          </a>
        </li>
        <li>
          <a href="{{ site.tw_link }}">
            <span class="icon twitter">{% include svg-tw.html %}</span>
            <span class="username">{{ site.tw_username }}</span>
          </a>
        </li>
        <li>
          <a href="{{ site.sc_link }}">
            <span class="icon soundcloud">{% include svg-sc.html %}</span>
            <span class="username">{{ site.sc_username }}</span>
          </a>
        </li>
        <li>
          <a href="https://coderwall.com/michaelchadwick"><img alt="Endorse michaelchadwick on Coderwall" src="https://api.coderwall.com/michaelchadwick/endorsecount.png" /></a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
