<div class="head">Work History</div>
<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="/assets/images/resumes/web/ss_ucsdsio.png"><img src="/assets/images/resumes/web/thumbs/ss_ucsdsio.png" alt="sio.ucsd.edu" title="sio.ucsd.edu">
    </a>
    <a href="http://sio.ucsd.edu">Scripps Institution of Oceanography</a><br />
    (sio.ucsd.edu)<br />
    La Jolla, CA<br />
  </div>

  <div class="jobindent">
    Programmer/Analyst<br />
    <strong>May 2016 &ndash; Present</strong>
  </div>
  <ul>
    <li>Work with web team to create, administer, and develop for custom web applications</li>
    <li>Administer and develop for:
      <ul>
        <li>Multiple Drupal 7 sites</li>
        <li>Major upgrades
          <ul>
            <li>Custom PHP site to Drupal 8</li>
            <li>Custom PHP site to Angular/Symfony/MongoDB
              <ul>
                <li>Personnel database web app in Angular, Symfony, and MongoDB, all hosted in Docker containers</li>
              </ul>
            </li>
            <li>Drupal 7 site to Drupal 8
              <ul>
                <li>Local development with DDEV</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Multiple Wordpress multisites with 100+ subsites</li>
      </ul>
    </li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="/assets/images/resumes/web/ss_ucsdhealth.jpg"><img src="/assets/images/resumes/web/thumbs/ss_ucsdhealth.jpg" alt="health.ucsd.edu" title="health.ucsd.edu">
    </a>
    <a href="http://health.ucsd.edu">UC San Diego Health System</a><br />
    (health.ucsd.edu)<br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">
    Programmer/Analyst (Web Services)<br />
    <strong>May 2011 &ndash; May 2016</strong>
  </div>
  <ul>
    <li>
      Work with team to create, administer and develop for custom SharePoint web applications
      <ul>
        <li>Administer and support a mix of public and private SharePoint sites, ranging from SharePoint 2007 to 2013, and a handful of Classic ASP and other miscellaneous web applications</li>
        <li>Administer and support large internal SharePoint 2013 web application used by thousands of employees</li>
        <li>Create and maintain several custom SharePoint web parts using C# in Visual Studio</li>
        <li>Provide tech support for 30+ web/db/index Windows 2003/2008 servers</li>
        <li>Provide tech support for 5000+ user workstations</li>
        <li>Lead SharePoint site admin training classes</li>
        <li>Create and maintain several custom Powershell scripts (and modules) for server administration</li>
      </ul>
    </li>
  </ul>

  <div class="jobindent">
    Programmer/Analyst (Facilities and Hospitality Services via UCSD Temp Services)<br />
    <strong>Jul. 2010 &ndash; May 2011</strong>
  </div>
  <ul>
    <li>
      Responsible for front-end design and back-end programming for internal facilities website
      <ul>
        <li>Created website in Windows SharePoint Services 3.0</li>
        <li>Added web/server controls customized using C#</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>
      Responsible for front-end design for catering website
      <ul>
        <li>Modified website in ASP.NET</li>
        <li>Customized front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
  </ul>

  <div class="jobindent">
    Programmer/Analyst (Information and Telecommunications Services via UCSD Temp Services)<br />
    <strong>Jul. 2009 &ndash; Jul. 2010</strong>
  </div>
  <ul>
    <li>
      Responsible for front-end design and back-end programming for internal telecommunications website
      <ul>
        <li>Created website in Visual Studio 2008</li>
        <li>Added web/server controls customized using C#, including web form with file upload</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>
      Responsible for front-end design and back-end programming mockup of web paging system
      <ul>
        <li>Created web application in Visual Studio 2008</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>Responsible for SharePoint mockup of internal telecommunications website</li>
    <li>Customization of web-based database system (XHTML, CSS, Javascript, Classic ASP)</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="/assets/images/resumes/web/ss_eselex.jpg">
      <img src="/assets/images/resumes/web/thumbs/ss_eselex.jpg" width="100" height="100" alt="e-Selex.com" title="e-Selex.com" />
    </a>
    <a href="http://e-selex.com">e-Selex.com</a><br />
    (e-Selex.com)<br />
    <em>Nov. 14, 2005 &ndash; Jul. 24, 2009</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Systems Technician</div>
  <ul>
    <li>Perform skilled repair and maintenance of all technology-related equipment</li>
    <li>Maintain several Windows- and Unix-based servers in-house and at datacenter</li>
    <li>Provide technical support to users on equipment setup/operation/troubleshooting</li>
    <li>Purchase and setup hardware/software when needed</li>
    <li>Manage RAID and tape backups</li>
    <li>Create marketing/sales materials for both print and web</li>
    <li>Created/maintained Windows 2003 Active Directory domain</li>
    <li>Implemented RSA SecureID on LAN, workstations; hard drive-level encryption on laptops</li>
  </ul>
  <div class="jobindent">Web Developer</div>
  <ul>
    <li>Primary: <a href="http://www.e-selex.com">http://www.e-selex.com</a> (all aspects)</li>
    <li>Secondary: <a href="http://www.smartselex.com">http://www.smartselex.com</a> (design)</li>
    <li>Tertiary: secure file transfer, marketing/demo, various other web applets</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="http://snappins.com">Snapp &amp; Associates Insurance Services, Inc.</a><br />
    (snappins.com)<br />
    <em>Apr. 26, 2004 &ndash; Nov. 11, 2005</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Assistant to the IT Director</div>
  <ul>
    <li>Performed skilled repair and maintenance of all technology-related equipment</li>
    <li>Provided technical support to users on equipment setup/operation/troubleshooting</li>
    <li>Monitored, administered ~30-user LAN, satellite office with multiple remote users</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <em>Jan. 2003 &ndash; Apr. 26, 2004</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Production Assistant</div>
  <ul>
    <li>Worked with producers to create effective management solutions for leads and sales</li>
    <li>Administered Commence RM relational database</li>
    <li>Created website, brochures, and other marketing materials</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="/assets/images/resumes/web/ss_alumni.jpg">
      <img src="/assets/images/resumes/web/thumbs/ss_alumni.jpg" width="100" height="100" alt="UCSD Alumni Association" title="UCSD Alumni Association" />
    </a>
    <a href="http://ucsd.edu">University of California, San Diego</a><br />
    Dept. of <a href="http://alumni.ucsd.edu">Alumni Relations</a><br />
    (alumni.ucsd.edu)<br />
    <em>Jan. 2000 &ndash; Aug. 2002</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Webmaster</div>
  <ul>
    <li>Maintained and created new material for website: <a href="http://alumni.ucsd.edu">http://alumni.ucsd.edu</a></li>
    <li>Developed print and web-based informational materials</li>
    <li>Collaborated with co-workers on projects and website maintenance</li>
  </ul>
</div>

<div class="head">Education</div>
<div class="jobdesc">
  <div class="jobname">
    <a href="http://ucsd.edu">University of California, San Diego</a><br />
    (ucsd.edu)<br />
    <em>Sep. 1999 &ndash; Jun. 2003</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Degree: BA in Interdisciplinary Computing in the Arts (ICAM &ndash; Emphasis in Music and Music Technology)</div>
  <ul>
    <li>The ICAM program aims to create the next generation of artists in a world of increasing connectivity in art, music and technology.</li>
    <li>Cognitive Science minor - Study of the brain, behavior, and computation, fitting in with the ICAM program by rounding out artistic and technological merits with a basis in scientific study and research.</li>
  </ul>
</div>

<div class="head">Technical Skills</div>
<div class="jobdesc">

  <!-- dev tech -->
  <ul class="skills">
    <li class="first tall">Development Technologies (Primary)</li>
    <li class="first_next">PHP (Drupal, WP)</li>
    <li>(X)HTML(5), CSS(3)</li>
    <li>Javascript</li>
    <li>C#</li>
    <li>Ruby</li>
    <li>Objective-C/Swift</li>
    <li>Powershell</li>
  </ul>
  <ul class="skills other">
    <li class="first">Development Technologies (Other)</li>
    <li class="first_next">Shell scripting</li>
    <li>Rust</li>
    <li>Go</li>
  </ul>

  <!-- dev ides -->
  <ul class="skills">
    <li class="first">Development IDEs</li>
    <li class="first_next">Atom</li>
    <li>Visual Studio</li>
    <li>Notepad++</li>
    <li>TextMate</li>
    <li>Xcode</li>
  </ul>

  <!-- web servers -->
  <ul class="skills">
    <li class="first">Web Server Software</li>
    <li class="first_next">Apache (XAMPP/MAMP/LAMP)</li>
    <li>IIS</li>
    <li>Jekyll</li>
    <li>Mongoose</li>
  </ul>

  <!-- dbs -->
  <ul class="skills">
    <li class="first">Database Systems</li>
    <li class="first_next">MySQL</li>
    <li>MariaDB</li>
    <li>Microsoft SQL Server</li>
    <li>SQLite</li>
  </ul>

  <!-- cms -->
  <ul class="skills">
    <li class="first">Content Management Systems</li>
    <li class="first_next">cPanel</li>
    <li>SharePoint</li>
    <li>Wordpress</li>
  </ul>

  <!-- cvs -->
  <ul class="skills">
    <li class="first">Versioning Systems</li>
    <li class="first_next">Git</li>
    <li>Team Foundation Server</li>
    <li>Visual Sourcesafe</li>
    <li>RCS</li>
    <li>Mercurial</li>
    <li>SVN</li>
  </ul>

  <!-- project management -->
  <ul class="skills">
    <li class="first">Project Management</li>
    <li class="first_next">Atlassian (Jira/Confluence)</li>
    <li>Zendesk</li>
    <li>Microsoft Project</li>
  </ul>

  <!-- img -->
  <ul class="skills">
    <li class="first">Image Manipulation</li>
    <li class="first_next">Adobe Photoshop</li>
    <li>Paint.NET</li>
  </ul>

  <!-- os -->
  <ul class="skills">
    <li class="first">Operating Systems</li>
    <li class="first_next">Apple OS X and iOS</li>
    <li>Linux/Unix</li>
    <li>Microsoft Windows</li>
  </ul>

</div>

<div class="head">Personal Development/Blogging</div>
<div class="jobdesc">

  <ul>
    <li><a href="http://codana.me">http://codana.me</a> - code blogging</li>
    <li><a href="http://github.com/michaelchadwick">http://github.com/michaelchadwick</a> - open-source projects</li>
    <li><a href="http://puppybongos.wordpress.com">http://puppybongos.wordpress.com</a> - home of <a href="http://sda.codana.me">Standing Desk App</a></li>
  </ul>

</div>
