article
{
  clear: left;
}
fieldset legend, .pure-form legend {
  background: #444;
  color: #f6f6f6;
  padding: 5px 0 5px 10px;
}
.pure-form button {
  box-shadow: 1px 1px 1px 1px #888;
}
.pure-form button:hover {
  background: #1A8DF8;
}
.pure-form button:active {
  background: #0560B5;
  box-shadow: 1px 1px 1px 1px #222 inset;
  color: #fff;
}
#posts-tags {
  margin: 30px;
}
#search-container
{
  background: #fcfcfc;
  border: 1px solid #bbb;
  margin: 0 auto 20px;
  padding: 3px;
  width: 99%;
}
#search-container input
{
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.9em;
  padding: 0.5em;
  width: 100%;
}
#results-container
{
  background: #fcfcfc;
  margin: 0;
  padding-left: 20px;
}
.site-footer
{
  padding: 5px 0;
}
.footer-nav
{
  background: #e8e8e8;
  font-size: 0.9em;
  text-align: center;
}
.footer-nav .page-link
{
  display: inline-block;
  padding: 0 3px;
  text-transform: lowercase;
}
.footer-col-3
{
  margin-top: 13px;
  text-align: right;
}
.posts {
  padding-left: 3px;
}
.post-header h1 {
  margin: 0 0 5px 0;
}
.post-header h3, .post-header h4 {
  margin: 0;
}
.posts .post-link
{
  display: block;
  margin-bottom: 10px;
}
.posts .full-entry
{
  display: block;
  margin-top: 8px;
}
.subhead {
  margin: 3px auto 20px;
}

.highlight pre
{
  white-space: pre-wrap;
}
.highlight pre > code,
.linenos pre > code
{
  border: 0;
  padding-left: 0;
  padding-right: 0;
  display: block; 
  white-space: pre; 
  overflow-x: auto; 
  word-wrap: normal;
}
.highlight .lineno { 
  color: #ccc; 
  display:inline-block; 
  padding: 0 5px; 
  border-right:1px solid #ccc; 
}
.meta.pretags {
  font-size: 1.4em;
  margin: 0;
}
.meta.tags {
  color: #999;
  display: block;
  margin: 0 0 40px 0;
  padding-left: 0;
}
.meta.tags li {
  float: left;
  line-height: 1.2em;
  list-style-type: none;
  margin-right: 5px;
}

@media screen and (max-width: 750px) {
  .site-footer .column {
    text-align: center;
  }
  .site-footer .footer-col-3 {
    margin-top: 0;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .pure-form button, 
  .pure-form input, 
  .pure-form textarea {
    width: 100%;
  }
  .site-footer .column {
    text-align: left;
  }
  .site-footer .footer-col-3 {
    margin: 5px 40px;
    text-align: left;
  }
}