/* basic */
a,
a:active {
  color: #a0590a;
  font-weight: 700;
}
a:visited {
  color: #8e7252;
}
p {
  margin-bottom: 10px;
}
hr {
  box-shadow: 0 1px 3px #bbb;
}
ul ul {
  margin-bottom: 10px;
}
code.header {
  background-color: #fff9c4;
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px 0;
}
code .param {
  color: red;
}
code .value {
  color: green;
}

/* html structure */
header.site-header {
  background: #ffc1076a;
}
article {
  clear: left;
}
nav.site-links,
nav.site-bio,
footer.site-footer li,
footer.site-footer p {
  color: #3a2822;
}
nav.site-links {
  background: #ff57229a;
  font-size: 0.9em;
  text-align: center;
}
nav.site-links a {
  display: inline-block;
  font-weight: bold;
  padding: 5px 5px 1px;
  text-transform: uppercase;
}
nav.site-links a,
nav.site-links a:active,
nav.site-links a:visited {
  color: #71301c;
}

footer.site-footer {
  background: #ff98009a;
  height: auto;
  padding: 10px;
}
footer.site-footer li {
  padding: 3px 5px;
}
footer.site-footer a,
footer.site-footer a:active,
footer.site-footer a:visited {
  background-color: #ff6c00;
  color: #f3edb6;
  display: inline-block;
  padding: 3px 5px;
}
footer.site-footer a:hover {
  background-color: #f3edb6;
  color: #ff6c00;
  text-decoration: none;
}

.overlay {
  background: rgba(255,255,255,0.9);
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay.enabled {
  display: block;
}

.wrap {
  padding: 0 15px;
}

/* html forms */
fieldset legend {
  background: #444;
  color: #f6f6f6;
  padding: 5px 0 5px 10px;
}
.pure-form legend {
  background: #444;
  color: #f6f6f6;
  padding: 5px 0 5px 10px;
}
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background: #ff9800;
  color: #fff;
}

/* custom ids and classes */
#posts-tags {
  margin: 30px;
}
#search-container {
  background: #fcfcfc;
  border: 1px solid #bbb;
  margin: 15px auto;
  padding: 3px;
  position: relative;
  transition: 1.5s;
  width: 99%;
  z-index: 2;
}
#search-container.selected {
  background: #fff;
  border: 0px;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
#search-container input {
  border: 0px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.25em;
  padding: 0.5em;
  position: relative;
  transition: 1.5s;
  width: 100%;
  z-index: 2;
}
#search-container input::placeholder {
  color: #aaa;
}
#search-container input.selected {
  border-bottom: 1px solid #444;
  outline: none;
}

#results-container {
  background: #fcfcfc;
  margin: 0;
  padding-left: 20px;
}

.site-nav .page-link {
  color: #4e4d4d;
}

.subhead {
  margin: 3px auto 20px;
}

.posts {
  padding-left: 3px;
}
.post-header {
  margin: 15px 0 0;
}
.post-header h1 {
  margin: 5px 0 0;
}
.post-header h3,
.post-header h4 {
  margin: 0;
}
.posts img {
  height: auto;
  max-width: 100%;
}
.posts li {
  margin-bottom: 15px;
}
.posts a.post-link {
  margin-bottom: 10px;
}
.posts .full-entry a {
  margin-bottom: 15px;
  width: 100%;
}
.posts .full-entry a:hover {
  text-decoration: none;
}

.highlight pre {
  white-space: pre-wrap;
}
.highlight pre > code,
.linenos pre > code {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  white-space: pre-wrap;
  overflow-x: auto;
  word-wrap: normal;
}
.highlight .lineno {
  color: #ccc;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}
.meta.pretags {
  font-size: 1.4em;
  margin: 0;
}
.meta.tags {
  color: #999;
  display: block;
  margin: 0 0 40px 0;
  padding-left: 0;
}
.meta.tags li {
  float: left;
  line-height: 1.2em;
  list-style-type: none;
  margin-right: 5px;
}

/* tags page */
a.tag {
  background-color: rgb(136, 54, 0);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  height: 25px;
  line-height: 25px;
  margin: 0 0.5rem 0.3rem 0;
  padding: 0 1.5rem 0 0.666rem;
  position: relative;
  text-align: center;
}
a.tag:after {
  background: inherit;
  border-radius: 4px;
  display: block;
  content: "";
  height: 17px;
  position: absolute;
  right: -6px;
  top: 4px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  width: 17px;
}
a.tag:hover {
  background: rgb(187, 84, 0);
  text-decoration: none;
}

.pagination {
  margin-bottom: 20px;
}

/* individual tag page */
h3.tag {
  background-color: rgb(136, 54, 0);
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 1rem 0.5rem 0.3rem 0;
  padding: 0 1.5rem 0 0.666rem;
  position: relative;
  text-align: center;
}
h3.tag:after {
  background: inherit;
  border-radius: 4px;
  display: block;
  content: "";
  height: 25px;
  position: absolute;
  right: -10px;
  top: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  width: 25px;
}
span.tag,
div.tag {
  font-size: 0.75rem;
}

/* media queries */
@media (max-width: 767px) {
  .wrap {
    padding: 0 30px;
  }
}
