<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      
      <div id="projects-index">
        <section class="projects">
          <h2>projects(audio)</h2>
          <ul>
            <li>
              <div class="link">
                <a href="{{ site.bc_link }}">bandcamp</a></div>
            </li>
            <li>
              <div class="link">
                <a href="{{ site.sc_link }}">soundcloud</a>
              </div>
            </li>
          </ul>
        
          <h2>projects(code)</h2>
          <ul>
            <li>os x
              <ul>
                <li><a href="{{ site.gh_link }}/utter">utter</a></li>
                <li><a href="http://sda.codana.me">standing desk app</a></li>
                <li><a href="{{ site.gh_link }}/my-mac-amp">my mac amp</a></li>
              </ul>
            </li>
            <li>web
              <ul>
                <li><a href="{{ site.gh_link }}/michaelchadwick.github.io">codana.me</a></li>
                <li><a href="http://mcj.nebyoolae.com">mcj.nebyoolae.com</a></li>
                <li><a href="http://pyc.nebyoolae.com">pyc.nebyoolae.com</a></li>
                <li><a href="http://vidga.me">vidga.me</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </div>
      
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>