<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="bucket">

      <div class="overlay"></div>

      {% include header.html %}

      <div class="page-content wrap">
        {{ content }}
      </div>

      {% include footer.html %}

      <!-- Custom JavaScript files set in YAML front matter -->
      {% for js in page.customjs %}
      <script async type="text/javascript" src="{{ js }}"></script>
      {% endfor %}
      {% include google-analytics.html %}

    </div><!-- bucket -->

  </body>
</html>
